body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #F2F2F2;
}

/*profile*/

.img-prof {
  height: 225px;
  width: auto;
}
.divider {
  margin: 30 0;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  opacity: .2;
}
.featurette-divider {
  margin: 80 0;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  opacity: .2;
}
.featurette {
  overflow: hidden;
}
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}
.featurette-heading {
  font-size: 50px;
}
footer {
  margin: 20px 0;
}
@media(max-width:1200px) {
  .featurette-divider {
    margin: 50px 0;
  }
  .featurette-image.pull-left {
    margin-right: 20px;
  }
  .featurette-image.pull-right {
    margin-left: 20px;
  }
  .featurette-heading {
    font-size: 35px;
  }
}
@media(max-width:991px) {
  .featurette-divider {
    margin: 40px 0;
  }
  .featurette-image {
    max-width: 50%;
  }
  .featurette-image.pull-left {
    margin-right: 10px;
  }
  .featurette-image.pull-right {
    margin-left: 10px;
  }
  .featurette-heading {
    font-size: 30px;
  }
}
@media(max-width:768px) {
  .container-fluid {
    margin: 0 15px;
  }
  .featurette-divider {
    margin: 40px 0;
  }
  .featurette-heading {
    font-size: 25px;
  }
}
@media(max-width:668px) {
  .featurette-divider {
    margin: 30px 0;
  }
}
@media(max-width:375px) {
  .featurette-divider {
    margin: 10px 0;
  }
  .featurette-image {
    max-width: 100%;
  }
  .featurette-image.pull-left {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .featurette-image.pull-right {
    margin-bottom: 10px;
    margin-left: 0;
  }
}

/**/

.intro-header {
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  /*background: url(/public/img/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;*/
}
.intro-message {
  padding-top: 100px;
}
.intro-social-buttons {
  padding-top: 20px;
}

/*Languages*/

.codingLanguages {
  height: 120px;
  width: auto;
  text-align: center;
  display: block;
  margin: auto;
}
.tile {
  text-align: center;
  margin: 30px;
}
a.skill-link {
  text-decoration: none;
}
.lgCodingImg {
  height: 300px;
  width: auto;
  display: block;
  margin: auto;
}
.skillCaption {
  text-align: center;
  font-size: 24px;
}
#exit {
  font-size: 40px;
  text-decoration: none;
}

/*CONTACT OR FRONT TYPEDJS*/
p.tagline{
  color: lime;
  word-wrap: break-word;
  font-size: 18px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 60em;
  animation: type 2s steps(70, start) forwards;
}

p.tagline:nth-child(2){
  animation: type2 3s steps(70, start) forwards;
}
p.tagline:nth-child(3){
  animation: type3 5s steps(70, start) forwards;
}
p.tagline:nth-child(4){
  animation: type4 8s steps(70, end) forwards;
}
p.tagline:nth-child(5){
  animation: type5 16s steps(70, start) forwards;
}
p.tagline:nth-child(6){
  animation: type6 26s steps(70, start) forwards;
}

#center-skills{
  text-align: center;
}


@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes type3{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}
@keyframes type4{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}
@keyframes type5{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}
@keyframes type6{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}


#matrix{
  background-color: black;
  height: 600px;
width: 100%;
}
