body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #F2F2F2;
}

/*profile*/

.img-prof {
  height: 225px;
  width: auto;
}
.divider {
  margin: 30 0;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  opacity: .2;
}
.featurette-divider {
  margin: 80 0;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  opacity: .2;
}
.featurette {
  overflow: hidden;
}
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}
.featurette-heading {
  font-size: 50px;
}
footer {
  margin: 20px 0;
}
@media(max-width:1200px) {
  .featurette-divider {
    margin: 50px 0;
  }
  .featurette-image.pull-left {
    margin-right: 20px;
  }
  .featurette-image.pull-right {
    margin-left: 20px;
  }
  .featurette-heading {
    font-size: 35px;
  }
}
@media(max-width:991px) {
  .featurette-divider {
    margin: 40px 0;
  }
  .featurette-image {
    max-width: 50%;
  }
  .featurette-image.pull-left {
    margin-right: 10px;
  }
  .featurette-image.pull-right {
    margin-left: 10px;
  }
  .featurette-heading {
    font-size: 30px;
  }
}
@media(max-width:768px) {
  .container-fluid {
    margin: 0 15px;
  }
  .featurette-divider {
    margin: 40px 0;
  }
  .featurette-heading {
    font-size: 25px;
  }
}
@media(max-width:668px) {
  .featurette-divider {
    margin: 30px 0;
  }
}
@media(max-width:375px) {
  .featurette-divider {
    margin: 10px 0;
  }
  .featurette-image {
    max-width: 100%;
  }
  .featurette-image.pull-left {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .featurette-image.pull-right {
    margin-bottom: 10px;
    margin-left: 0;
  }
}

/**/

.intro-header {
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  /*background: url(/public/img/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;*/
}
.intro-message {
  padding-top: 100px;
}

/*Languages*/

.coding-languages{
  height: 160px;
  width: auto;
    text-align: center;
}
.tile{

}
