/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 250px;
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
  color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

/*Sidenav menu styles*/

.sidebar-nav li a {
  margin-top: 8px;
  margin-bottom: 28px;
}
#sidebar-Pic {
  position: relative;
  top: 20px;
  display: block;
  margin: 0 auto;
  height: 125px;
  width: 125px;
}
#menu-toggle {
  float: left;
  position: fixed;
  z-index: 999;
  opacity: 0.8;
}
#side-name {
  padding-top: 10px;
  text-align: center;
  padding-right: 25px;
}

/*SideNav Links*/

a.eigth:before {
  left: 0;
}
a.eigth:after {
  right: 0;
}
a.before:hover:before, a.after:hover:after {
  width: 100%;
}
a.eigth, a.eigth:visited, a.eigth:hover, a.eigth:active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: 0.5s color ease;
  text-decoration: none;
  color: white;
  font-size: 2.5em;
}
a:hover {
  color: black;
}
a.before:before, a.after:after {
  content: "";
  transition: 0.5s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
a.before:before {
  top: -0.25em;
}
a.after:after {
  bottom: -0.25em;
}
a.before:before, a.after:after {
  height: 5px;
  height: 0.35rem;
  width: 0;
  background: white;
}
a.first:after{
  left:0;
}
a.first, a.first:visited, a.first:hover, a.first:active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: 0.5s color ease;
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

/*Media*/

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/*Showcase*/

.portfolio-item {
  margin-bottom: 25px;
}
.lg-project-pic {
  height: 400px;
  width: 700px;
}
.sm-project-pic {
  height: 200px;
  width: 500px;
  
}
.sm-project-pic:hover {
opacity: .3;

}
.intro-social-buttons {
  padding-top: 20px;
}
