<div class="container-fluid">
  <div class="jumbotron">
    <div class="col-xs-12">
      <ul class="list-inline">
        <li>
          <a href="https://twitter.com/NotThefakeIB" target="_blank" class="btn btn-default">
            <i class="fa fa-twitter fa-fw"></i>
            <span class="network-name">Twitter</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/ibaena" target="_blank" class="btn btn-default ">
            <i class="fa fa-github fa-fw"></i>
            <span class="network-name">Github</span>
          </a>
        </li>
        <li>
          <a href="https://linkedin.com/in/ivanbaena" target="_blank" class="btn btn-default">
            <i class="fa fa-linkedin fa-fw"></i>
            <span class="network-name">Linkedin</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
